/Java/HolaMundo/target/
/Javascript/Javascript/07-ApiRest/API-REST-EXPRESS/node_modules/
/Node/03-Bases-Node/salida/*.txt
/Node/03-Bases-Node/node_modules/
/Node/04-tareas-hacer/node_modules/
/Node/05-Clima-App/node_modules/
/Node/06-webserver/node_modules/
/Java/Primalidad/nbproject/private/
/Java/Primalidad/build/
/Java/Palindromo/nbproject/private/
/Java/Palindromo/build/
/Java/GeneraPass/nbproject/private/
/Java/GeneraPass/build/
/Java/Conversor/nbproject/private/
/Java/Conversor/build/
/Java/JuegoAdivinarNumero/nbproject/private/
/Java/JuegoAdivinarNumero/build/
/Java/Javadoc/nbproject/private/
/Java/JuegoAdivinarNumero/dist/
/Java/POO1/nbproject/private/
/Java/POO1/build/
/Java/Calculadora/nbproject/private/
/Java/Calculadora/build/
/NETPlatzi/*/obj/
/NETPlatzi/*/bin/
